* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 16, 20);
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 40px;
    flex: 1;
    width: 100%;
}
.logo {
    position: absolute;
    top: 12px;
    left: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.left-side {
    flex: 1;
    padding-top: 20px;
    text-align: center;
    line-height: 1.8;
}

.right-side {
    font-family: sans-serif;
    border-left: 2px solid rgb(61, 79, 92);
    padding: 70px 40px;
    background: rgb(21, 33, 39);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.right-side input{
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(68, 86, 100);
    margin-bottom: 12px;
    background-color: rgb(21, 33, 39);
}

.right button{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid rgb(68, 86, 100);
    margin-bottom: 12px;
    background-color: rgb(21, 33, 39);
}

.login-side a {
    text-align: center;
}

.login {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(13, 60, 113);
    border: none;
    color: rgb(93, 108, 120);

}

p {
    color: white;
}

h1 {
    padding-top: 150px;
    color: white;
}

.new-acc {
    width: 100%;
    height: 40px;
    background-color: rgb(21, 33, 39);
    border-radius: 20px;
    border: 1px solid rgb(75, 169, 254);
    color: rgb(75, 169, 254);

}

.do-strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}



.facebook-butt {
    width: 100%;
    height: 40px;
    background-color: rgb(21, 33, 39);
    border-radius: 20px;
    border: 1px solid rgb(68, 86, 100);
    color: white;

}

.forgot-pass {
    width: 100%;
    height: 40px;
    background-color: rgb(21, 33, 39);
    border-radius: 20px;
    border: 1px solid rgb(21, 33, 39);
    color: white;
}

.meta {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
}

.gradient{
    background: linear-gradient(to right, orange, red, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}

.forgot-pass,
.facebook-butt,
.new-acc,
.login,
.forgot-pass {
    margin-bottom: 20px;
}

